body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.decor{
  margin:20px;


  box-sizing: border-box;
  background-color:dimgrey;
  height: 300px ;
  padding: 20px;
  background-image: url("back4.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 25px;


  




}